<!doctype html>
<html lang="zh-Hans">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carbonvote</title>

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- Color the status bar on mobile devices -->
  <meta name="theme-color" content="#2F3BA2">

  <!-- Your styles -->
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/rhythm.css">
  <link rel="stylesheet" href="styles/index.css">
</head>

<body>
  <header class="header">
    <div class="rhythm">
      <h1 class="title">Vote: The DAO Hard Fork</h1>

      <h2>How to vote?</h2>
      <strong>Make a 0-ETH transaction to the YES or NO address to vote respectively.</strong>

      <div class="description">
        <p>All the ETH under the from-address will be counted as corresponding ballots.</p>
        <p>If your wallet (for instance, Mist) does not support 0-ETH transactions, a minimal amount (e.g. 0.0001 ETH) is recommended. The smart contract will send back any amount of ETH it receives automatically.</p>
        <p>The status is an on-going real-time counting.</p>
      </div>

    </div>

    <div class="address">
      <p class="yes"><strong>Vote YES:</strong> <a class="" target="_blank" href="http://etherscan.io/address/<%= yesContractAddress %>"><code><%= yesContractAddress %></code></a></p>
      <p class="no"><strong>Vote NO:</strong> <a class="" target="_blank" href="http://etherscan.io/address/<%= noContractAddress %>"><code><%= noContractAddress %></code></a></p>
    </div>

    <div class="status">
      <div class="item">
        <h2 class="caption yes">YES</h2>
        <p class="amount">Ether: <%= yesVote %></p>
      </div>

      <div class="item">
        <h2 class="caption no">No</h2>
        <p class="amount">Ether: <%= noVote %></p>
      </div>
    </div>
  </header>

  <div class="CarbonvoteChart-wrapper">
    <div id="CarbonvoteChart"></div>
  </div>

  <section class="transactions">
    <nav class="yes">
      <ol>
        <% yesTx.forEach(function(tx) { %>
        <li><a class="hash" target="_blank" href="http://etherscan.io/tx/<%= tx %>"><%= tx %></a></li>
        <% }); %>
      </ol>
    </nav>

    <nav class="no">
      <ol>
        <% noTx.forEach(function(tx) { %>
        <li><a class="hash" target="_blank" href="http://etherscan.io/tx/<%= tx %>"><%= tx %></a></li>
        <% }); %>
      </ol>
    </nav>
  </section>

  <div class="view-more">
    <% if (yesTx.length) { %>
    <a class="transactions-more" target="_blank" href="http://etherscan.io/address/<%= yesContractAddress %>">View More</a>
    <% } %>

    <% if (noTx.length) { %>
    <a class="transactions-more" target="_blank" href="http://etherscan.io/address/<%= noContractAddress %>">View More</a>
    <% } %>
  </div>

  <article class="rhythm" id="">
    <h3 class="title">Further explanation: mechanism of the Carbonvote System</h3>

    <p><strong>1. Voters: </strong>ETH holders.</p>
    <p><strong>2. Ballots: </strong>ETH. How many ETH, how many votes.</p>
    <p><strong>3. How to Vote: </strong>Send ETH to the YES address to propose or NO address to oppose. And you still have time to change your mind.</p>

    <p>If the YES address receives any ETH from an address, then all the ETH under this address will be considered as a batch of votes that goes to YES.</p>
    <p>If later this address makes a transaction to the NO address, then the entire batch of votes will be recounted as NO.</p>
    <p>If voters who after voting, decide to abstain from this vote, they can move the ETH to an address that has yet participated in this vote.</p>

    <p><strong>4. Ballot counting: </strong>Dynamic real-time counting of the ETH under the wallet addresses that have voted.</p>
    <p><strong>5. Fund Security: </strong>No ETH are collected or locked.</p>

    <p>Because the vote status is not counting how many ETH are sent to the YES or NO addresses, but the real-time amount of ETH under the addresses that have participated in the vote, voters are recommended to send 0 to a minimal amount of ETH for sending the message of their choice (depending on what wallets are used, Mist, for example does not allow zero-ETH transactions). If by any chance, the smart contract receives money from voters, ETH will be refunded to the original addresses upon reception.</p>
  </article>

  <footer>
    <p class="contribute">contributed by</p>
    <nav>
      <a href="http://ethfans.org/">Ethfans</a>
      <a href="#">ConsenLabs</a>
      <a href="#">StoneLedger</a>
      <a href="http://cryptape.com/">Cryptape</a>
    </nav>
  </footer>

  <script src="javscripts/highcharts.js" charset="utf-8"></script>
  <script src="javscripts/index.js" charset="utf-8"></script>
</body>
</html>
