<p>
YES Vote: <%= yesVote %>
<br/>
Yes Address: <%= yesContractAddress %>
</p>

<p>
No Vote: <%= noVote %>
<br/>
No Address: <%= noContractAddress %>
</p>


<p>
  Yes Vote Transactions
  <ul>
    <% yesTx.forEach(function(tx) { %>
       <li><%= tx %></li>
    <% }); %>
  </ul>
</p>

<p>
  No Vote Transactions
  <ul>
    <% noTx.forEach(function(tx) { %>
       <li><%= tx %></li>
    <% }); %>
  </ul>
</p>

<h3>CarbonVote - Time to Show Hands</h3>
<pre>
Hi Ethereum Community, and by extension, the Blockchain community,

It has been a very rough month for everyone, and we mean everyone, who’s involved in the blockchain community because of what happened on ethereum, with The DAO.

Every new technology goes through major setbacks, until it becomes a standard. This is not the first and it won’t be the last for some to question and for us to polish the security and of ethereum, blockchain, and smart contracts we write and use on the platform. The discussions, segregated on all sorts of platforms because of the new media and in different regions because of geography, on facts about what really happened, the causes and consequences, polices about what to do next and how to achieve the goal, and most importantly, the values everyone in the community holds are important for the technology, the community and the world (if we are ever allowed to be so ambitious) to improve to what’s the most ideal.

What is the most ideal? We agreed on a clear direction but a vague vision. This has always been meaning to be a long process, but when there are events that push us to make a decision, we need to come up with solutions, imperfect and tentative policies, and to achieve that, we need to bring together the communties, the real stake holders who have a say and who should have a say, to decide for this issue and for issues that will come about in the future.

We as a group of people who have been (relatively) long in this young industry, who have passions (almost love) for the technology, have very different opinions on what actions ethereum and the community should take for this hacking in this crisis, but we quickly gathered together and want to offer our contribution, a practical solution, a workable solution. Clock is ticking. We are not saying it’s perfect, but it’s among many of the ways, the optimal way, in our opinion, to reflect the opinions. So it will be an important source of reference when there are actions to be taken. We welcome the community to challenge and help us to improve.

And here is what we want to put forward: Carbonvote.com

Specifically on: A hard fork or no action?

1) Who should vote?
Right now, the people who get to decide are miners. We put forward that it’s at this point, the legitimate voters should be players who have ethers in their wallets.

2) So we are going to count heads?
No. We are going to count coins, in this case, ethers. How many ethers you have, how many votes you have.
Ethereum will turn into a POS blockchain in its plan. And we as participants have agreed to this plan when we start to hold ethers. The result of this polling will be depended on what most ethers go, fork or nothing, or default.

3) How to vote?
Simply, send a message from your wallet.
We won’t collect or lock money. After what happened, who is brave enough to send any money to any smart contract at the moment?
Carbonvote.com will dynamically calculate how many ethers go to which bench, until the due time due date. So you can change your mind, you can overwrite your vote by resending your message as long as it’s before this smart contract finishes the final round of counting and announces the result.

F&Q


We call for everyone who has the least care for ethereum to vote on the CarbonVote platform. The more people involved, the more reflective this vote will be.

At this point, it’s important we bring all the communities that are only loosely connected together to voice. No matter where we go, no matter what you believe, what needs to be said needs to be heard.
</pre>

<p>
  <h2>Sponsors</h2>
  <ul>
  <li>Ethfans.org</li>
  <li>Consenlabs.com</li>
  <li>stoneledger.com</li>
  <li>cryptape.com</li>
  </ul>
</p>
